.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 1rem;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}
