.contact {
    padding: 20px;
    text-align: center;
    font-size: large;
}

.contact h1 {
    margin-bottom: 20px;
}

.contact h2 {
    margin: 20px 0 10px;
}

.contact p {
    margin: 10px 0;
}

/* Add media query for smartphones */
@media (max-width: 600px) {
    .contact {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: medium;
    }
}
