@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    min-height: 200vh; /* Ensures the body takes the full height of the viewport */
    margin: 0;
}

.main-content {
    flex: 1; /* This makes the content area expand and push the footer to the bottom */
}
